@use 'variable' as *;
@use 'common' as *;
@use 'modules' as *;


.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 120px;
    padding: 0 40px;
    background-color: transparent !important;



    &__logo {
        width: 120px;
    }


    nav {
        display: flex;
        column-gap: 32px;


    }
}


.hero {
    width: 100%;
    height: 100dvh;
    background: url("../img/photo01.jpg") center center no-repeat;
    background-size: cover;


}

//conceptセクション
.concept {
    background-color: $baseColor2;

    &-content {
        &__head {}

        margin-bottom: 24px;
        font-size: 24px;
        font-weight: 600;
    }


    &__text {
        line-height: 1.75px;

    }
}